/* 
CSS used on homepage.
*/

/* CSS for images on homepage */
.home_img {
	object-fit: none;
	width: 100%;
	max-height: 100%;
}

/* Navigation wrapper */
.nav_wrap {
	width: 100%;
}

/* Parent class for grid */
.home_grid {
	display: grid;
	grid-template-columns: repeat(9, auto);
	grid-template-rows: repeat(5, auto);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	background-color: white;
	padding: 15px;
}
/* Locations for grid elements */
.one {
	grid-row: 2;
	grid-column: 2;
}
.two {
	grid-row: 2;
	grid-column: 4;
}
.three {
	grid-row: 2;
	grid-column: 6;
}
.four {
	grid-row: 2;
	grid-column: 8;
}
.five {
	grid-row: 4;
	grid-column: 2;
}
.six {
	grid-row: 4;
	grid-column: 4;
}
.seven {
	grid-row: 4;
	grid-column: 6;
}
.eight {
	grid-row: 4;
	grid-column: 8;
}

/* CSS for grid content */
.grid_title {
	height: 150px;
	width: 150px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid_desc {
	border: 1px solid black;
	font-size: 15pt;
	padding-bottom: 8px;
	padding-top: 8px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}




