/*
CSS used on media page.
*/

/* CSS for selection tab grid */
.grid_select {
	display: grid;
	background-color: rgba(60, 100, 190, 0.9);
	color: white;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(3, 2fr);
}

/* CSS for highlighted selection tabs */
.select_highlight {
	background-color: rgba(220, 50, 60, 1.0);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18pt;
	text-decoration: underline;
	height: 3rem;
	border: solid white 2px;
}

/* CSS for panel positions */
.select_one {
	grid-area: 1 / 1 / span 1 / span 1;
}

.select_two {
	grid-area: 1 / 2 / span 1 / span 1;
}

.select_three {
	grid-area: 1 / 3 / span 1 / span 1;
}

/* CSS for panel contents */
.select_contents {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18pt;
	height: 3rem;
	border: solid white 2px;
}

/* CSS for video grid */
.grid_videos {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(16, auto);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	background-color: white;
	padding: 15px;
}

/* CSS for panel positions */

/* Video 1 */
.videos_one {
	grid-area: 2 / 2 / span 2 / span 1;
}
/* Video 1 description anchor */
.videos_two {
	grid-area: 2 / 4 / span 2 / span 1;
}
/* Video 1 title */
.videos_two_first {
	grid-area: 2 / 4 / span 1 / span 1;
}
/* Video 1 description */
.videos_two_second {
	grid-area: 3 / 4 / span 1 / span 1;
}

/* Video 2 */
.videos_three {
	grid-area: 5 / 2 / span 2 / span 1;
}
/* Video 2 description anchor */
.videos_four {
	grid-area: 5 / 4 / span 2 / span 1;
}
/* Video 2 title */
.videos_four_first {
	grid-area: 5 / 4 / span 1 / span 1;
}
/* Video 2 description */
.videos_four_second {
	grid-area: 6 / 4 / span 1 / span 1;
}

/* Video 3 */
.videos_five {
	grid-area: 8 / 2 / span 2 / span 1;
}
/* Video 3 description anchor */
.videos_six {
	grid-area: 8 / 4 / span 2 / span 1;
}
/* Video 3 title */
.videos_six_first {
	grid-area: 8 / 4 / span 1 / span 1;
}
/* Video 3 description */
.videos_six_second {
	grid-area: 9 / 4 / span 1 / span 1;
}

/* Video 4 */
.videos_seven {
	grid-area: 11 / 2 / span 2 / span 1;
}
/* Video 4 description anchor */
.videos_eight {
	grid-area: 11 / 4 / span 2 / span 1;
}
/* Video 4 title */
.videos_eight_first {
	grid-area: 11 / 4 / span 1 / span 1;
}
/* Video 4 description */
.videos_eight_second {
	grid-area: 12 / 4 / span 1 / span 1;
}

/* Video 5 */
.videos_nine {
	grid-area: 14 / 2 / span 2 / span 1;
}
/* Video 5 description anchor */
.videos_ten {
	grid-area: 14 / 4 / span 2 / span 1;
}
/* Video 5 title */
.videos_ten_first {
	grid-area: 14 / 4 / span 1 / span 1;
}
/* Video 5 description */
.videos_ten_second {
	grid-area: 15 / 4 / span 1 / span 1;
}

/* CSS for panel contents */
.videos_content {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid black 2px;
}

.videos_desc {
	font-family: arial;
	font-size: 14pt;
	padding: 5px;
}

.videos_title {
	font-family: arial;
	font-size: 16pt;
	padding: 5px;
	background-color: rgb(50, 50, 50);
	color: white;
}

/* CSS for articles grid */
.grid_articles {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(10, auto);
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	background-color: white;
	padding: 15px;
}

/* CSS for panel positions */
.articles_one {
	grid-area: 2 / 2 / span 1 / span 1;
}

.articles_two {
	grid-area: 4 / 2 / span 1 / span 1;
}

.articles_three {
	grid-area: 7 / 2 / span 1 / span 1;
}

.articles_four {
	grid-area: 9 / 2 / span 1 / span 1;
}

/* CSS for panel contents */
.articles_content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16pt;
	font-family: arial;
	padding: 5px;
}

.articles_desc {
	font-size: 14pt;
	font-family: arial;
	text-align: center;
}

/* CSS for other stuff grid */
.grid_other {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(9, auto);
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	background-color: white;
	padding: 15px;
}

/* CSS for panel positions */
.other_one {
	grid-area: 2 / 2 / span 1 / span 1;
}

.other_two {
	grid-area: 4 / 2 / span 1 / span 1;
}

.other_three {
	grid-area: 6 / 2 / span 1 / span 1;
}

.other_four {
	grid-area: 8 / 2 / span 1 / span 1;
}

/* CSS for panel contents */
.other_content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16pt;
	font-family: arial;
	padding: 5px;
}

.other_desc {
	font-size: 14pt;
	font-family: arial;
	text-align: center;
}



