/*
CSS used in MSG nodeJS version
*/

/* Edition selector */
.edition_wrap {
	
}
.form_style {
	text-align: center;
}

/* Spell output */
.spell_wrap {
	
}
.spell_table {
	margin: auto;
	margin-bottom: 2rem;
	min-width: 40%;
	table-layout: fixed;
}
th {
	padding: 5px;
	font-family: arial;
	background-color: black;
	color: white;
}
tr {
	background-color: white;
}
td {
	padding: 10px;
	font-family: arial;
	text-align: center;
	width: 200px;
}