/*
 * CSS for Jack Parkinson's website.
 * This file contains CSS for elements common across all pages.
 */

/* Body and footer elements are common */
body {
	background-color: rgba(255, 175, 90, 1);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 3rem;
	color: white;
	background-color: rgb(50, 50, 50);
	font-size: 24px;
}

/* Intentionally blank CSS for flexible grid panels */
.grid_gap {
	
}

/* Page wrapper */
.page_wrap {
	position: relative;
	min-height: 100vh;
	margin: 1rem;
}

/* Wrapper for introductions at page tops */
.intro_wrap {
	align: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 4rem;
	margin-right: 4rem;
}

/* CSS for introduction contents */
.intro_title {
	font-size: 72pt;
	text-align: center;
}

.intro_desc {
	font-size: 16pt;
	text-align: justify;
	
}

/* CSS for footer links */
.footer_link {
	color: white;
}

/* CSS for footer grid */
.footer_grid {
	display: grid;
	grid-template-columns: repeat(11, auto);
	grid-template-rows: repeat(3, auto);
	grid-column-gap: 1rem;
	grid-column-gap: 1rem;
}

.footer_grid_content {
	
}

.footer_grid_one {
	grid-area: 2 / 2 / span 1 / span 1;
}

.footer_grid_two {
	grid-area: 2 / 4 / span 1 / span 1;
}

.footer_grid_three {
	grid-area: 2 / 6 / span 1 / span 1;
}

.footer_grid_four {
	grid-area: 2 / 8 / span 1 / span 1;
}

.footer_grid_five {
	grid-area: 2 / 10 / span 1 / span 1;
}


